/** main.css
 set default app formatting
 katkoe
 march2026
 **/


/** default css vars **/

/** load specialty & font families **/
@font-face {
        -fx-font-family: 'Bungee';
        src: url('fonts/bungee/Bungee-Regular.ttf');
    }

/** header bar contents **/

.headerContent{
    -fx-background-color: white;
}
.title{
    -fx-font-size: 4.5em;
	-fx-font-family: 'Bungee';
	-fx-fill:#FF0000;
}

/** menu bars default **/
* {
    menu-color: #000000;
    menu-color-highlighted: 'cornflowerblue';
    menu-font-color: #FFFFFF;
    menu-font-color-highlighted: #FFFFFF;
    menu-font-family: 'Bungee';
    menu-font-size: 1.4em;

 /** tab bar default **/
    tab-color: #FFFFFF;
    tab-color-highlighted: 'blue';
    tab-font-color: #FFFFFF;
    tab-font-family: 'sans-serif';
    tab-font-size: 1.4em;
}


.mainMenuBar{
-fx-background-color: menu-color;
}
.mainMenuBar > .container > .menu-button {
    -fx-background-color: menu-color;
}
.mainMenuBar > .container > .menu-button > .label {
    -fx-text-fill: menu-font-color;
    -fx-font-family: 'Bungee';
    -fx-font-size: 1.4em;
}

.mainMenuBar .label:disabled {
    -fx-opacity: 1.0;
}

/* menu item hover focus  */
.mainMenuBar > .container > .menu-button:hover,
.mainMenuBar > .container > .menu-button:focused,
.mainMenuBar > .container > .menu-button:showing {
    -fx-background-color: menu-color-highlighted;
}


/*  context - secondary drop menus off main menu bar */
.mainMenuBar .context-menu {
    -fx-background-color: menu-color-highlighted;
    -fx-text-fill: menu-font-color;
    -fx-font-family: 'sans-serif';
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

/* main tabs nav settings */
.tab-pane {
    -fx-tab-min-width:10em;
}

.tab-pane .tab {
    -fx-background-color: #efefef;
}

.tab-pane .tab:selected {
    -fx-background-color: #000099;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #000099;
    -fx-font-size: 1.4em;
    -fx-font-weight: 500;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

//** DecoButton Custom Button Class styles **/
.button {
    -fx-background-color: 'red';
    -fx-text-fill: 'red';
}

/* button hover */
.button:hover {
    -fx-text-fill: 'green';
    -fx-background-color: 'yellow';
}
/* button focused */
.button:focused {
    -fx-text-fill: 'purple';
}

